{% extends 'base.html.twig' %}

{% block title %}
{{ contact.firstname }} {{ contact.lastname }}
{% endblock %}

{% block body %}
    <h1>{{ contact.firstname }} {{ contact.lastname }}</h1>
    <dl>
        <dt><h3>FistName</h3></dt>
        <dd>{{ contact.firstname }}</dd>
        <dt><h3>LastName</h3></dt>
        <dd>{{ contact.lastname }}</dd>
        <dt><h3>Email</h3></dt>
        <dd>{{ contact.email }}</dd>
    </dl>
{% endblock %}